[flake8]
# max_line_length = 79
# max-complexity = 10
doctests = true
extend-ignore = E203,W503
extend-select = W504
per-file-ignores =
    */tests/test_*.py: D
    */tests/data/*.py: D,F821
    bpack/utils.py: D103
statistics = True
count = True
